body {
    background-color: #000000;
}

img {
    /* Invert colors */
    filter: invert(100%);
    -webkit-filter: invert(100%);

    /* Center Image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    /* Scale Image */
    height: 50%;
}
